## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [17]:
a = 10
print (a)

10

2) Imprimir el tipo de dato de la variable 8.5

In [18]:
c  = 8.5
print (type(c))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [19]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [20]:
nombre = "jesica"

5) Crear una constante que contenga el número Pi

In [22]:
PI = 3.14
print (PI)

3.14

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [23]:
print(type(PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [13]:
e =2.7182

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [12]:
luz = "True"
b = True
#no se trata de lo mismo ya que uno es un booleano cuando no esta entre comillas y es un string cuando lo esta.

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [24]:
print(type(luz))
print(type(b))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [10]:
h = 15 + 6.3

11) Realizar una operación de suma de un número definido como string con un entero

In [9]:
y = "12" #numero definido como string
h = int(y) #convierte el string en un entero
j= 78

resultado = h + j

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [14]:
g = e**3
print(g)

20.083723072568

13. Pedir al usuario que ingrese un numero por teclado y realizar una multiplicacion

In [63]:
numero_del_usuario = int(input("Introduce una variable por teclado"))
resultado = numero_del_usuario * 45

ValueError: invalid literal for int() with base 10: ''

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [30]:
cociente = 27/4
print(cociente)

6.75

15) De la división anterior solamente mostrar la parte entera

In [30]:
cociente = 27 // 4
print (cociente)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [26]:
cociente_2 = 27 % 4
print (cociente_2)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [31]:
resultado = (cociente + cociente_2)*4 - 9 
print(resultado)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [ ]:
#no porque uno es un string y el otro es un entero

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [1]:
A= "3.8"
A= float(A)
print (A)

3.8

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [32]:
a = float("3,8") porque no se puede convertir un srtring en un float

SyntaxError: invalid syntax (694054083.py, line 1)

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [37]:
print(2+"2") #no se puede sumar un string con un entero
print("2"+"2") #daria 22 ya que es un string y los toma como tal
print(2+2) #daria 4 ya que los toma como enteros

TypeError: unsupported operand type(s) for +: 'int' and 'str'

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [2]:
menu= """
MENU 
1- Pizza
2- Empanadas
3- Milanesas
4- Salir
"""
print(menu)

MENU
1- Pizza
2- Empanadas
3- Milanesas
4- Salir

23) Crear una lista que contenga los números del 1 al 10

In [3]:

lista = [1,2,3,4,5,6,7,8,9,10]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 22

In [33]:
print(lista[8])

9

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

In [34]:
lista[2] = 24
print(lista)

[1, 2, 24, 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [35]:
matriz = [["A","B","C"],["D","E","F"],["G","H","I"]]

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

27) Imprimir la matriz creada en el punto 26

In [40]:
print(matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [42]:
matriz[1][1] = "Z"
print(matriz)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [46]:
matriz[0][0] = 1
matriz[0][1] = 2
matriz[0][2] = 3
print(matriz)

[[1, 2, 3], ['D', 'Z', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [50]:
tupla = ("zara", "macowens", "armani", "adiddas", "puma")

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [51]:
print (tupla)

('zara', 'macowens', 'armani', 'adiddas', 'puma')

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [52]:
tupla[1] = "roxy" #la tupla no admite modificaciones

TypeError: 'tuple' object does not support item assignment

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [54]:
diccionario = {"nombre": "Jesica", "apellido": "Gonzalez", "edad": 28, "hobbies": "bailar"}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [55]:
print(diccionario["hobbies"])

bailar

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [57]:
diccionario["edad"] = 45
print(diccionario["edad"])
print(diccionario)

45
{'nombre': 'Jesica', 'apellido': 'Gonzalez', 'edad': 45, 'hobbies': 'bailar'}